* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4f4f4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a48cb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a48cb;
}
