.second {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 200px;
  color: #ffffff;
  height: 1100px;
  /* position: relative; */
}

.second_top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 100px;
}

.code_img1 {
  position: absolute;
  left: 40px;
}
.code_img2 {
  position: absolute;
  left: 0;
  top: -20px;
}
.code_img3 {
  position: absolute;
  right: 40px;
}
.code_img4 {
  position: absolute;
  right: -60px;
  top: 60px;
}
.code_img5 {
  position: absolute;
  top: -80px;
}

.second_middle {
  margin-top: 500px;
  padding: 20px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.middle_heading {
  font-size: 25px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.04em;
  padding: 20px 50px;
  text-align: left;
  max-width: 600px;
}

.middle_para {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-align: left;
  max-width: 600px;
  padding: 0 50px;
}

.line {
  border-bottom: 5px solid #ffffff;
  max-width: 600px;
  margin-left: 50px;
  margin-top: 30px;
}

.second_bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  margin-top: -130px;
  margin-bottom: 40px;
}

.quote_box {
  /* position: absolute; */
  display: flex;
  align-items: flex-start;
  gap: 30px;
  max-width: 600px;
  margin-top: 0;
  margin-right: 50px;
  background-color: #3947c9;
  padding: 40px 30px;
  border-radius: 4px;
}

.img_box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
}

._para {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-align: left;
}

@media screen and (max-width: 1350px) {
  .second {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 130px;
    color: #ffffff;
    height: 900px;
  }

  .second_top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 275px;
  }

  .code_img1 {
    position: absolute;
    left: 40px;
    width: 400px;
    height: 200px;
  }
  .code_img2 {
    position: absolute;
    left: 0;
    top: 35px;
    width: 400px;
    height: 200px;
  }
  .code_img3 {
    position: absolute;
    right: 40px;
    width: 400px;
    height: 200px;
  }
  .code_img4 {
    position: absolute;
    right: -60px;
    top: 80px;
    width: 400px;
    height: 200px;
  }
  .code_img5 {
    position: absolute;
    top: -40px;
    width: 400px;
    height: 200px;
  }

  .second_middle {
    margin-top: 550px;
    padding: 20px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .middle_heading {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    padding: 20px 50px;
    text-align: left;
    max-width: 600px;
  }

  .middle_para {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;
    max-width: 600px;
    padding: 0 50px;
  }

  .line {
    border-bottom: 5px solid #ffffff;
    max-width: 600px;
    margin-left: 50px;
    margin-top: 30px;
  }

  .second_bottom {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .quote_box {
    /* position: absolute; */
    display: flex;
    align-items: flex-start;
    gap: 30px;
    max-width: 600px;
    margin-top: 0;
    margin-right: 50px;
    background-color: #3947c9;
    padding: 30px 20px;
    border-radius: 4px;
  }

  .img_box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
  }

  ._para {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;
  }
}
